@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

#App {
  background-color: #191D43;
  font-family: 'Krona One', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  margin-top: 0.5em;
  font-weight: lighter;
}

h2 {
  color: #ffffff;
  font-size: 24px;
  text-align: center;
}

